@page "/"

<PageScript Src="./Components/Pages/Home.razor.js" />

<form id="test-form" method="post" @formname="TestForm" @onsubmit=OnSubmit data-enhance>
    <AntiforgeryToken />
    <input name="Model.Name" value="@Model.Name" />
    <button id="form-button" type="submit">
        Button Inside Form
    </button>
</form>

<hr />

<button id="page-button">
    Button Outside Form
</button>
